@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
    text-align: center;
}
i{
    width: 20px;
    height:25px;
    text-align: center;
} 
.nameContainer{
    width:100%;
}
.userName{
    margin:.5em 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    color:rgb(36, 53, 151);
}
.birthday{
    margin:.5em 0 .2em 0;
    font-size: 1.3em;
    font-weight: bold;
    color: lightslategrey;
}
img{ 
    margin-top: .5em;
    width: 165px;
    height: 170px;
    border-radius: 1em;
}
.userInfo{
    margin:.5em;
}
.userInfo input{ 
    width:90%;
    font-size: 1.1em;
    font-weight: normal;
    margin:.2em;
    text-align: justify;
}
h4{
    text-align: center;
}
.education{
    border: solid 1px rgb(43, 98, 153);
    border-radius: .1em;
    margin: .5em;
    background-color: rgb(208, 212, 221);
}
.education input{
    font-size: 15px;
    width: 90%;
}
input[name=eduDate]{
    width:50%;   
}
.work input{
    font-size: 15px;
    width: 90%;
}
input[name=workDate]{
    width:50%;   
}
@media (min-width: 800px){
    body{
        text-align: left;
    }
    .nameDate{
        display:flex;
    }
    .userName{
        margin:.5em 0 0 .5em;
        font-size: 1.5em;
        font-weight: bold;
        color:rgb(36, 53, 151);
    }
 
    .birthday{
        margin:.7em 0 0 0;
        font-size: 1.3em;
        font-weight: bold;
        color: lightslategrey;
    }
    .header{
        margin:.5em;
        display: flex;
    }
    .userPhoto{
        width:20%;
    }
    .userInfo{
        width:70%;
        color: darkslategrey;
    } 
    .userInfo input[type=text]{
        font-size: 1.1em;
        font-weight: bold;
        color: lightslategrey;
    }
    .userInfo input[type=tel]{
        font-size: 1.1em;
        color:lightslategrey;
        font-weight:bold;
    }
    .userInfo input[type=email]{
        font-size: 1.1em;
        color: lightslategrey;
        font-weight:bold;
    }
    .mainSection{
        display: flex;
    }
    .mainSection i{
        width:3em;
        height:1em;
    }
    button{
        margin-left: 40%;
        border-radius: .5em;
    }
    h4{
        color:rgb(36, 53, 151);
        text-align: left;
        margin:.4em 0 .5em .5em;
    }
    .education{
        padding:.5em;
        text-align: left;
        width:40%;
        height:20.5cm;
    }
    .education [name^="edu"]{
        color: whitesmoke;
        font-weight: bold;
    }
    .education [name="eduDate"]{
        color:rgb(36, 53, 151);
        font-weight: normal;
    }
    .work{
        margin:.5em;
        width:65%;
    }
    .work [name^="work"]{
        color:lightslategrey;
        font-weight: bold;
    }
    .work [name=workDate]{
        color:rgb(36, 53, 151);
        font-weight:normal;
    }
}
@media (min-width: 900px){
    body{
        width: 900px;
    }
}
@media print{
    @page {
        margin-top: 0;
        margin-bottom: 0;
    }
    body{
        text-align: left;
        padding-top: 25px;
        padding-bottom: 25px ;
    } 
    input{  
        background-color: transparent;
        border:none;
        outline: none;
    }
    i{
        width: 20px;
        height:25px;
        text-align: center;
    } 
    .nameDate{
        display: flex;
        text-align: left;
    }
    .userName{
        margin:0 0 0 .5em;
        font-size: 1.5em;
        font-weight: bold;
        color:rgb(36, 53, 151);
    }
    .userName input{
        width:auto;
    }
    .birthday{
        margin:.2em 0 0 .3em;
        font-size: 1.3em;
        font-weight: bold;
        color: lightslategrey;
    }
    .header{
        margin:.5em;
        display: flex;
    }
    .userPhoto{
        width:30%;
    }
    .userInfo{
        width:70%;
        color: darkslategrey;
    } 
    .userInfo input[type=text]{
        font-size: 1.1em;
        font-weight: bold;
        color: lightslategrey;
    }
    .userInfo input[type=tel]{
        font-size: 1.1em;
        color:lightslategrey;
        font-weight:bold;
    }
    .userInfo input[type=email]{
        font-size: 1.1em;
        color: lightslategrey;
        font-weight:bold;
    }
    .mainSection{
        display: flex;
    }
    .mainSection i{
        width:auto;
        height:auto;
    }
    h4{
        text-align: left;
        margin:.4em 0 .4em .5em;
        color:rgb(36, 53, 151);
    }
    .education{
        margin-left: 0;
        padding-left: .2em;
        width:40%;
        height:20.5cm;
    }
    .education input{
        background-color:lightslategray;
    }
    .education [name^="edu"]{
        color: whitesmoke;
        font-weight: bold;
    }
    .education [name="eduDate"]{
        color:rgb(36, 53, 151);
        font-weight: normal;
    }
    .work{
        margin:.5em;
        width:65%;
    }
    .work [name^="work"]{
        color:lightslategrey;
        font-weight: bold;
    }
    .work [name=workDate]{
        color:rgb(36, 53, 151);
        font-weight:normal;
    }
    button{
        visibility: hidden;

    }
}